.heroSection {
  padding-bottom: 24px;
}

.heroWrapper {
  display: grid;
  grid-template-columns: 54.88% auto;
  gap: 24px;

  @media (width < 1023.98px) {
    display: flex;
    flex-direction: column;
  }
}
