.button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  border-radius: 6px;
  color: var(--color-main);
  background-color: transparent;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: var(--color-menu-item-hover);
  color: var(--color-main);
}

.menuIcon {
  fill: var(--color-main);
}
