.customMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  background-color: var(--color-bg-popper);
  border-radius: 6px;
  box-shadow: var(--shadow-popper);
  min-width: 200px;

  opacity: 0;
  transform: translate(-50%, -10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
}

.customMenu.open {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.menuItem {
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.menuItem span {
  display: block;
  padding: 6px 10px;
  border-radius: 6px;
  color: var(--color-main);
  transition: background-color 0.2s ease;
}

.menuItem:hover span {
  background-color: var(--color-menu-item-hover);
}

.menuItem:first-child {
  box-shadow: 0 3px 2px -3px var(--color-menu-item-hover);
  padding: 6px 10px;
}

.menuItem:first-child:hover span {
  background-color: transparent;
  cursor: auto;
}
