* {
  scrollbar-color: var(--color-scrollbar) transparent;
}

.modal {
  position: relative;

  display: grid;
  gap: 20px;

  width: 90%;
  height: 90%;
  max-width: 680px;
  max-height: max-content;

  background-color: var(--color-bg-hero-content);
  border-radius: 12px;
  padding: 14px;

  overflow: auto;

  @media (width < 479.98px) {
    padding: 56px 28px;
  }
}
