.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: var(--color-teacher-badge);

  @media (width < 479.98px) {
    font-size: 21px;
  }
}
