:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  color: var(--color-main);
  background-color: var(--color-bg-main);
  transition: background-color 0.2s ease, color 0.1s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
textarea,
select,
button {
  font: inherit;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-button);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-input) inset !important;
  -webkit-text-fill-color: var(--color-main) !important;
  transition: background-color 5000s ease-in-out 0s;
}
