:root {
  /* Font family for the app */
  --font-family: 'Roboto', sans-serif;

  /* Container width */
  --container-width-main: 1312px;
  --container-width-secondary: 1184px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}

/* Light theme */
:root[data-theme='light'] {
  --color-scrollbar: rgba(0, 0, 0, 0.3);
  --color-main: #121417;
  --color-secondary: #222831;
  --color-accent: #ffdc86;
  --color-accent-green: #38cd3e;
  --color-accent-bright: #f4c550;
  --color-border-input: rgba(18, 20, 23, 0.1);
  --color-border-accent: #f4c550;
  --color-border-error: #d32f2f;
  --color-label-error: #d32f2f;
  --color-button: #f4c550;
  --color-select-label: #8a8a89;
  --color-footer-text: rgba(18, 20, 23, 0.7);
  --color-register-btn: #ffffff;
  --color-teacher-badge: #121417;
  --color-book-trial-form-border: rgba(18, 20, 23, 0.2);
  --color-bg-register-btn: #222831;
  --color-bg-toggle-theme-btn: hsla(210, 14%, 13%, 0.8);
  --color-bg-toggle-theme-btn-hover: hsl(215, 15%, 95%);
  --color-bg-main: #ffffff;
  --color-bg-teachers-page: #f8f8f8;
  --color-bg-hero-content: #f8f8f8;
  --color-bg-burgerMenu: #fbe9ba;
  --color-bg-select: #ffffff;
  --color-bg-user-avatar: #fbe9ba;
  --color-bg-card: #ffffff;
  --card-color-main: #121417;
  --card-color-secondary: #8a8a89;
  --card-image-border-color: #fbe9ba;
  --card-icon-stroke-color: #121417;
  --card-icon-favorite-color: #ffc531;
  --color-bg-popper: #f8f8f8;
}

/* Dark theme */
:root[data-theme='dark'] {
  --color-scrollbar: rgba(150, 145, 145, 0.3);
  --color-main: #ffffff;
  --color-secondary: #222831;
  --color-accent: #ffdc86;
  --color-accent-green: #38cd3e;
  --color-accent-bright: #f4c550;
  --color-border-input: #ffffff;
  --color-border-accent: #f4c550;
  --color-border-error: #d32f2f;
  --color-label-error: #d32f2f;
  --color-button: #f4c550;
  --color-select-label: #adb5bd;
  --color-footer-text: #adb5bd;
  --color-register-btn: #222831;
  --color-teacher-badge: #ffffff;
  --color-book-trial-form-border: #8a8a89;
  --color-bg-register-btn: #ffdc86;
  --color-bg-toggle-theme-btn: #ffdc86;
  --color-bg-toggle-theme-btn-hover: hsla(210, 14%, 13%, 0.7);
  --color-bg-main: rgb(15, 18, 20);
  --color-bg-teachers-page: rgb(15, 18, 20);
  --color-bg-hero-content: #222831;
  --color-bg-burgerMenu: #222831;
  --color-bg-select: rgb(228, 232, 235);
  --color-bg-user-avatar: #fbe9ba;
  --color-bg-card: rgb(228, 232, 235);
  --card-color-main: #121417;
  --card-color-secondary: hsla(210, 14%, 13%, 0.5);
  --card-image-border-color: #ffc531;
  --card-icon-stroke-color: #121417;
  --card-icon-favorite-color: #ffc531;
  --color-bg-popper: #222831;
}

/* System theme */
:root[data-theme='system'] {
  --color-scrollbar: light-dark(rgba(0, 0, 0, 0.3), rgba(150, 145, 145, 0.3));
  --color-main: light-dark(#121417, #ffffff);
  --color-secondary: #222831;
  --color-accent: #ffdc86;
  --color-accent-green: #38cd3e;
  --color-accent-bright: #f4c550;
  --color-border-input: light-dark(rgba(18, 20, 23, 0.1), #ffffff);
  --color-border-accent: #f4c550;
  --color-border-error: #d32f2f;
  --color-label-error: #d32f2f;
  --color-label-accent: light-dark(#121417, #f4c550);
  --color-button: #f4c550;
  --color-select-label: light-dark(#8a8a89, #adb5bd);
  --color-footer-text: light-dark(rgba(18, 20, 23, 0.7), #adb5bd);
  --color-description: light-dark(rgba(18, 20, 23, 0.8), #ffffff);
  --color-register-btn: light-dark(#ffffff, #222831);
  --color-teacher-badge: light-dark(#121417, #ffffff);
  --color-bg-register-btn: light-dark(#121417, #ffdc86);
  --color-bg-toggle-theme-btn: light-dark(hsla(210, 14%, 13%, 0.8), #ffdc86);
  --color-bg-toggle-theme-btn-hover: light-dark(
    hsl(215, 15%, 95%),
    hsla(210, 14%, 13%, 0.8)
  );
  --color-bg-main: light-dark(#ffffff, rgb(15, 18, 20));
  --color-bg-teachers-page: light-dark(#f8f8f8, rgb(15, 18, 20));
  --color-bg-hero-content: light-dark(#f8f8f8, #222831);
  --color-bg-burgerMenu: light-dark(#fbe9ba, #222831);
  --color-bg-select: light-dark(#ffffff, rgb(228, 232, 235));
  --color-bg-user-avatar: #fbe9ba;
  --color-bg-card: light-dark(#ffffff, rgb(228, 232, 235));
  --color-bg-popper: light-dark(#f8f8f8, #222831);
  --card-color-main: #121417;
  --card-color-secondary: light-dark(#8a8a89, hsla(210, 14%, 13%, 0.5));
  --card-image-border-color: light-dark(#fbe9ba, #ffc531);
  --card-icon-stroke-color: #121417;
  --card-icon-favorite-color: #ffc531;
}
