.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  color: var(--color-main);
  background-color: transparent;
  border: none;

  cursor: pointer;
}
