.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  transition-duration: var(--transition-duration);
}

.logo svg {
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-main);
}
