.userBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userBar svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.userName {
  font-size: 18px;
  font-weight: 700;
  transform: translateY(1px);
}
