.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: max-content;
  padding: 16px 48px;
  font-size: 18px;
  font-weight: 700;
  color: var(--card-color-main);
  background-color: var(--color-accent-bright);
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}

.button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-accent);
  border-radius: 12px;
  transition: width 0.3s ease;
  z-index: 0;
}

.button span {
  position: relative;
  z-index: 1;
}

.button:hover::after {
  width: 100%;
}
