.button {
  display: inline-block;
  padding: 16px 88px;

  font-size: 18px;
  font-weight: 700;

  color: var(--color-secondary);
  background-color: var(--color-button);
  border-radius: 12px;

  cursor: pointer;
}

.button:hover {
  color: var(--color-secondary);
  background-color: var(--color-accent);
}
