.section {
  min-height: 100vh;
  padding-block: 96px;
  background-color: var(--color-bg-teachers-page);

  @media (width < 767.98px) {
    padding-block: 66px;
  }

  @media (width < 479.98px) {
    padding-block: 46px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
