.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
  color: var(--color-secondary);
  background-color: var(--color-bg-user-avatar);
  border-radius: 50%;
}
