.list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.2s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.active::after {
  color: var(--color-button);
  width: 100%;
}

.listDrawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  font-size: 20px;
  font-weight: 700;
}
