.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.title {
  margin-bottom: 10px;

  font-size: 72px;
  font-weight: 900;

  color: red;
  text-align: center;
}

.description {
  display: block;

  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 700;

  text-align: center;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  display: inline-flex;
  column-gap: 8px;

  padding-block: 10px;
  padding-inline: 40px;

  font-size: 18px;
  text-align: center;
  text-decoration: none;

  color: inherit;
  background-color: var(--color-button);
  border-radius: 12px;

  transition-duration: var(--transition-duration);
}

.link svg {
  width: 24px;
  height: 24px;
}

.link:hover {
  color: var(--color-main);
  background-color: var(--color-accent);
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -10;
}
