.container {
  padding: 20px;
}

.title {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

.link {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: inherit;
  width: 200px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: red;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -10;
}
