.button {
  padding: 14px 39px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  color: var(--color-register-btn);
  background-color: var(--color-bg-register-btn);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-secondary);
  background-color: var(--color-accent-bright);
}
