.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.description {
  display: block;

  margin-bottom: 30px;

  font-size: clamp(22px, 3vw, 36px);
  font-weight: 700;

  text-align: center;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  display: inline-flex;
  column-gap: 8px;

  padding: 10px 40px;

  font-size: 18px;
  text-align: center;
  text-decoration: none;

  color: var(--color-secondary);
  background-color: var(--color-button);
  border-radius: 12px;

  transition-duration: var(--transition-duration);

  @media (width < 479.98px) {
    font-size: 14px;
    font-weight: 500;
    align-items: end;
    padding: 8px 30px;
  }
}

.link svg {
  width: 24px;
  height: 24px;
}

.link:hover {
  color: var(--color-secondary);
  background-color: var(--color-accent);
}
